
#date1{
    background-color:gray;
    color:white;
    height:150px;
    

    
}
#date2{
    background-color:gray;
    color:white;
    height:150px;

}
#date3{
    background-color:gray;
    color:white;
    height:150px;
}
#date4{
    background-color:gray;
    color:white;
    height:150px;
}
#head-right{
    background-color:black;
    text-align:center;
    color:yellow;
    height:100px;
}
#head-left{
background-color:black;
    
    
}
#body1{
    background-color:white;
}
#body2{
    background-color:white;
    
}

a{
    text-decoration:none;
    padding: 5px 5px;
    margin: 2px;
}

a:hover{
    background-color:yellow;
    color:brown;
    text-decoration:unset;
}
a:active{
    font-weight:bold;
}

#footer{
    background-color:black;
    color:yellow;
    height:100px;
}
